/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
}

/* Here is one of many  CSS rules you will need... */
#one {
    border: 5px solid blue;
    padding: 3px;
    position: absolute;
    margin-top: 40%;
    width: 25%;
    right: 0%;
}

#two {
    border: 5px solid green;
    padding: 3px;
    position: absolute;
    width: 25%;
    right: 0%;
}

#three {
    border: 5px solid orange;
    padding: 3px;
    position: absolute;
    width: 25%;
}

#four {
    border: 5px solid yellow;
    padding: 3px;
    position: absolute;
    margin-top: 40%;
    width: 25%;
}

#link {
    background-color: blue;
    width: 22%;
    text-align: center;
    margin-left: 40%;
}

a {
    color: white;
    text-decoration: none;
}


